body {
  background-color: #cdcdcd;
}

.main-header {
  width: 100%;
  color: black;
  height: 25vh;
  background-color: blue;
}

.main-body {
  width: 80%;
  background-color: white;
  height: 100vh;
  margin: auto;
}

.main-footer {
  width: 80%;
  margin: auto;
  background-color: black;
  height: 15vh;
}
